.count {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 70px;
  display: flex;
  flex-direction: column;
  line-height: 10px;
  justify-content: center;
  align-items: center;
}

.count h1 {
  font-weight: 600;
  font-size: 200px;
  color: #fff;
  text-shadow: 0 0 15px #000;
}
.count h2 {
  font-size: 100px;
  color: #ffd900;
  text-shadow: 2px 2px 6px #000;
}
.counterBase{
  position: absolute;
  top: 5px;
  right: 5px;
}

.timer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: normal;
}

.timer .text {
  font-size: 20px;
  font-weight: 500;
  color: #ffd900;
  text-shadow: 2px 2px 6px #000;
}

.timer .value {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 6px #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.carosels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.QRcontainer{
  position: absolute;
  display: flex;
  bottom: 5px;
  right: 5px;
  width: 30vw;
  background-color: #fffa;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
}

.QRcontainer img{
  object-fit: contain;
  height: 10vh;
}